@page
@model ItemRazorV1.Pages.Customer.DeleteCustomerModel
@{
}

<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete Customer - @Model.Customer.Name</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Customer/GetAllCustomers">No</a>
	</form>
</div>
