@page
@model RolePlayDemoAug24.Pages.HelpModel
@{
}

<div>
    <h5 class="fst-italic">This game is intended to demo various aspects of Object-Oriented programming with C#.</h5>
    <h5 class="fst-italic">The game consists of a battle between a Hero and a Beast.</h5>
    <h5 class="fst-italic">A Hero will equip a single Weapon, and several pieces of Armor.</h5>
    <h5 class="fst-italic">A Beast will be able to perform various types of Attacks.</h5>
    <h5 class="fst-italic">Using a Weapon or performing an Attack will deal Damage to the opponent.</h5>
    <h5 class="fst-italic">Damage comes in four flavors: Fire, Frost, Necrotic and Physical.</h5>
    <h5 class="fst-italic">Damage dealt by a Weapon or Attack will be distributed across these four flavors.</h5>
    <h5 class="fst-italic">Armor worn by the Hero can resist some of the damage,</h5>
    <h5 class="fst-italic">and the resistance will also be distribued across the damage flavors.</h5>
    <h5 class="fst-italic">Likewise, Beasts will have some level of resistance to the damage flavors.</h5>

    <a class="btn btn-lg btn-primary mt-3" asp-page="Index"> Back to Start </a>
</div>
