@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="display-1 fw-bold">ZeaQuest</p>
    <p class="display-6 fst-italic mb-3">For Glory</p>
    <img class="img-thumbnail p-3" src="~/images/Battle.jpg" />
    <div class="p-3">
        <a class="btn btn-lg btn-primary" asp-page="ChooseHero"> Start </a>
        <a class="btn btn-lg btn-danger ms-5" asp-page="Help"> Help </a>
    </div>
</div>



