@page
@model ItemRazorV1.Pages.Order.DeleteOrderModel
@{
}

<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
	<h5>Are you sure you want to delete Order - @Model.Order.Id</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Order/GetAllOrders">No</a>
	</form>
</div>