body {
    /* The image used */
    background-image: url("../computergear.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-opacity {
    background-color: #ffffff;
    opacity: 0.9;
}