@page
@model WebShopRP.Pages.Orders.DeleteModel
@{
}

<h1 class="display-3 mb-5">Confirm Deletion of Order</h1>

<div class="alert alert-danger">
	<h5>Are you sure you want to delete Order # @Model.Data.Id (@Model.Data.Customer.Name / @Model.Data.Product.Name)</h5>
	<form method="post">
		<button type="submit" class="btn btn-outline-danger mt-3">Yes</button>
		<a class="btn btn-outline-primary mt-3" asp-page="/Orders/All">No</a>
	</form>
</div>
