@page
@model ItemRazorV1.Pages.Item.GetAllItemsModel
@{
}
<h1>Items</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Items != null)
		{
			foreach (var item in Model.Items)
			{
				<tr>
					<td>
						@item.Id
					</td>
					<td>
						@item.Name
					</td>
					<td>
						@item.Price
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<p>
	<a class="btn btn-primary" asp-page="CreateItem">Create a new Item</a>
</p>
